.pin-login {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    font-size: 28px;
    background: rgb(112, 119, 211);
    border: 1px solid rgba(0, 0, 0, 0.418);

    user-select: none;

}

.pin-loginText {
    margin: 10px auto 10px auto;
    padding: 10px;
    display: block;
    width: 50%;
    font-size: 0.5em;
    letter-spacing: 0.2em;
    text-align: center;
    background: rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 10px;
    outline: none;

    cursor: default;
}

.pin-loginText--error{
    color: rgb(146, 17, 13);
    background-color: #ffb3b3;

    animation-name: loginError;
    animation-duration: 0.1s;
    animation-iteration-count: 2;
}

@keyframes loginError {
    25% {
        transform:  translateX(-3px);
    }
    75% {
        transform:  translateX(3px);
    }
}

@-moz-keyframes loginError {
    25% {
        transform:  translateX(-3px);
    }
    75% {
        transform:  translateX(3px);
    }
}


.pin-loginKey{
    width: 60px;
    height: 60px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.15);
    color: #363b5e;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}


.pin-loginKey:active{
    background: rgba(0, 0, 0, 0.295);
}
