<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="chat.css">
    <title>Chat</title>
</head>
<body>

    <div class="main">
        <h1>Messagerie</h1>


        <div class="msgContainer" id="msgContainer"></div>

        <div class="form">
            <div id="isWritting"></div>
            <input type="text" id="msgInput" onkeypress="writting()" onblur="notWritting()">
            <button type="submit" id="btnSend">Envoyer</button>
        </div>

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="chat.js"></script>
</body>
</html>